/*colors
#00E5CE - shade of blue green
#ED64D9 - shade of pink
#FFFF33 - shade of yellow
*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Open Sans', sans-serif;

}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	/*font-size: 15px;*/
	line-height: 1.5;	
	/*background-color: #00E5CE;*/
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(360,800,378)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%2300e5ce'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.11'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
	border: none;
	margin-bottom: 0;
}

#landing-sec {
	margin: 0 auto;
	margin-top: 210px;
	height: 100vh;
}

#landing-sec h1,
#landing-sec h3 {
	color: #ED64D9;
	font-weight: bold;
}

#landing-sec a {
	text-decoration: none;
	color: #FFFF33;
}

ul {
	margin: 0;
	padding: 0;
}


/*new navbar*/
.navbar {
	background-color: #00E5CE;
	border-bottom: #ED64D9 3px solid;
}

.navbar .nav-link {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar .highlight1 {
	color: #ED64D9;
	font-weight: bold;
	font-size: 30px;
}

.navbar .highlight2 {
	color: #FFFF33;
	font-weight: bold;
	font-size: 30px;
}

.navbar a:hover {
	color: #FFFF33;
	font-weight: bold;
	text-decoration: none;
}

.navbar-toggler{
/*	background-color: #FFFF33;
	border: #FFFF33 5px solid;*/
	text-decoration: none;
}

.navbar i {
	text-decoration: none;
	color: #ED64D9;
}
/*end new nav-bar*/

header .highlight, 
.navbar .current a{
	color: #ED64D9;
	font-weight: bold;
}

/*end header*/

/*start showcase*/
#showcase {
	min-height: 80vh;
	/*background-color: #333;*/
	/*background: url(../images/bgezie1.jpeg);*/
	background-repeat: no-repeat;
	text-align: center;
	color: #ED64D9;
	/*margin: 0 auto;*/
}

#showcase .container {
	margin-top: 250px;
}

#showcase h1,
#showcase p {
	/*margin: 0 auto;*/
	text-shadow: 2px 2px 5px rgba(0,0,0,0.4)
}

#showcase .heading {
	/*margin-top: 200px;*/
	font-size: 55px;
	text-align: center;
	/*margin-bottom: 10px;*/
/*	position: absolute;
	top: 400px;
	left: 35%;*/
}

/*.cont-show {
	position:absolute;
	top: 52%;
	left: 6.3%;
}*/

#showcase p {
	font-size: 20px;
/*	position: absolute;
	top: 480px;
	left: 100px;*/
}

/*#showcase .bgcolor {
	width: 100%;
	height: 30vh;
	background-color: #FFFf33;
	opacity: .09;
	float: right;
	text-align: center;
	margin-right: 0%;
	margin-top: 14%;
}*/


/*fabicon link and settings*/
#fabicons {
	padding: 15px;
	background: #00E5CE;

}

.fab-container > a{
	text-decoration: none;
}

#fabicons i {
	height: 38px;
	width: 38px;
	background: #ED64D9;
	padding: 10px 10px 10px 12px;
	color: #FFFF33;
	border-radius: 50%;
	text-decoration: none;
	/*float: left;*/
	/*display: inline-block;*/
} 

/*email button form and fab icon*/
#fabicons form {
	float: right;
	margin-top: 5px;
}

#fabicons input[type="email"] {
	padding: 4px;
	height: 35px;
	width: 250px;
} 

.button-1 {
	height: 38px;
	background: #ED64D9;
	border: none;
	padding: 0 20px 0 20px;
	color: #00E5CE;
	border-radius: 3%;
}
/*end showcase*/


/*rows*/
#rows .row {

	margin-top: 20px;
	text-align: center;
	color: #ED64D9;
}

#rows .row img {
	border-radius: 10%;
	border: 5px solid #ED64D9;
	margin-bottom: 20px;
	box-shadow: 5px 10px rgba(255,255,0,.5);
}

#rows .row a {
	text-decoration: none;
	color: #ED64D9;
}

#rows .row a:hover {
	color: #FFFF33;
	font-weight: bold;
	text-decoration: none;
   
}

#img-size {
	width:300px;
	height: 500px;
}

/*start of about*/

#rows-about {
	margin-top: 130px;
	height: 90vh;
	color: #ED64D9;
	text-align: center;
	/*list-style-type: none;*/
	text-transform: uppercase;
	/*list-style-type: none;*/
	/*margin: 0 auto;*/
}

#rows-about .profile {
	text-align: center;
	margin-bottom: 40px;
	/*text-align: center;*/
}

#rows-about .mission-vision {
	text-align: center;
	color: #FFFF33;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	/*margin-bottom: 20px;*/
}

#rows-about .mv-desc {
	padding: 30px;
	/*text-align: center;*/

}

#rows-about .mv {
	/*text-align: center;*/
	list-style-type: none;
	
}

#rows-about .clnt {
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	color: #FFFF33;
}

#rows-about .row2 .ourclients {
	list-style-type: none;
}

/*end of about*/


/*gallery styling*/

.products {
	/*height: 5vh;*/
	margin-top: 20px;
	/*margin: 0 auto;*/
	/*margin-left: 30%;*/
	text-align: center;
	margin-bottom: 20px;
}

.products li {
	/*float: left;*/
	display: inline;
	padding: 0px 20px 0px 20px;
	font-size: 25px;
	/*text-align: center;*/
}

.products .pro-list {
	text-decoration: none;
	color: #ED64D9;
}

.products .current a{
	color: #FFFF33;
	font-weight: bold;
	/*text-decoration: none;*/
}

.products .pro-list:hover {
	color: #FFFF33;
	font-weight: bold;
	text-decoration: none;
}

/*image part*/

.row .card {
	background-color: rgba(0,229,206,.3);
	color: #ED64D9;
	text-align: center;
	margin-bottom: 10px;
}

#img2-size {
	width: 250px;
	height: 250px;
	border-radius: 10%;
	border: 3px solid #ED64D9;
	/*margin-bottom: 20px;*/
	box-shadow: 5px 10px rgba(255,255,0,.8);
}

/*end of gallery*/

/*start contact us*/
.row h1 {
	color: #ED64D9;
}

.row label,
.row .btn {
	color: #ED64D9;
	font-size: 20px;
}



/*end contact us*/

/*start of footer*/
footer {
	/*padding: 20px;*/
	/*margin-top: 30px;*/
	color: #ED64D9;
	background-color: #FFFF33;
	text-align: center;
	border-top: 3px solid #ED64D9;
	margin-bottom: 0;
}

.footer-contact {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-about {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*.footer-about {
	position: absolute;
	bottom: 0;
	width: 100%;
}*/




/*small screen*/
@media only screen and (max-width:400px) {
	
	.container {
		padding: 10;
	}

	header	{
	padding-top: 10px;
	min-height: 50px;
	border-bottom: #ED64D9 3px solid;
	}

	header #logo {
		font-size: 25px;	
	}

	header li {
		padding: 10;
	}

	#showcase .container {
		margin-top: 180px;
	}

	#showcase h1 {
		font-size: 30px;
		text-align: center;
	}

	#showcase p {
		font-size: 20px;
		text-align: center;
	}
	

	#fabicons {
		padding: 10px 0px 10px 0px;
	}

	#fabicons a {
		margin-left: 16%;
	}

	#fabicons form {
		text-align: center;
	}

	form .button-1 {
		width: 250px;
		border-radius: 0;
	}

	/*about in small devices*/
	#rows-about {
	/*margin-top: 130px;*/
	/*height: 80%;*/
	color: #ED64D9;
	text-align: center;
	/*margin: 0 auto;*/
	/*list-style-type: none;*/
	text-transform: uppercase;
	/*list-style-type: none;*/
	}

	#rows-about .row {
		margin-left: 0;
		margin-right: 0;
	}

	#rows-about .profile {
		text-align: center;
		margin-bottom: 10px;
		font-size: 15px;
		/*text-align: center;*/
	}

	#rows-about .mission-vision {
		font-size: 20px;
		text-align: center;
		color: #FFFF33;
		/*margin-bottom: 20px;*/
	}

	#rows-about .mv-desc {
		padding: 10px 30px 10px 30px;
		font-size: 15px;
		/*text-align: center;*/

	}

	#rows-about .mv h5 {
		/*text-align: center;*/
		font-size: 10px;
		list-style-type: none;
		
	}

	#rows-about .clnt {
		font-size: 20px;
		font-weight: bold;
		font-family: 'Raleway', sans-serif;
		color: #FFFF33;
	}

	#rows-about .row2 .ourclients li{
		list-style-type: none;
		font-size: 10px;
	}
	/*end of about*/

	/*start of gallery*/
	.products {
		height: 11vh;
		margin-top: 75px;
		padding: 20px 0px 20px 0px;
	}

	.products li {

		font-size: 20px;
		padding: 4px;
	}

	/*end of gallery*/

	.footer-contact {
		position: relative;
	}

	.footer-about {
		position: relative;
	}
}
}


/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	

	#showcase h1 {
		margin
		font-size: 30px;
		text-align: center;
	}

	#showcase p {
		font-size: 20px;
		text-align: center;
	}


	#fabicons {
		padding: 10px 0px 10px 0px;
	}

	#fabicons a {
		margin-left: 16%;
	}

	#fabicons form {
		text-align: center;
	}

	form .button-1 {
		width: 250px;
		border-radius: 0;
	}

	/*about in medium devices*/
	#rows-about {
	/*margin-top: 130px;*/
	height: 80vh;
	color: #ED64D9;
	text-align: center;
	/*margin: 0 auto;*/
	/*list-style-type: none;*/
	text-transform: uppercase;
	/*list-style-type: none;*/
	}

	#rows-about .row {
		margin-left: 0;
		margin-right: 0;
	}

	#rows-about .profile {
		text-align: center;
		margin-bottom: 10px;
		font-size: 15px;
		/*text-align: center;*/
	}

	#rows-about .mission-vision {
		font-size: 20px;
		text-align: center;
		color: #FFFF33;
		/*margin-bottom: 20px;*/
	}

	#rows-about .mv-desc {
		padding: 10px 30px 10px 30px;
		font-size: 15px;
		/*text-align: center;*/

	}

	#rows-about .mv h5 {
		/*text-align: center;*/
		font-size: 10px;
		list-style-type: none;
		
	}

	#rows-about .clnt {
		font-size: 20px;
		font-weight: bold;
		font-family: 'Raleway', sans-serif;
		color: #FFFF33;
	}

	#rows-about .row2 .ourclients li{
		list-style-type: none;
		font-size: 10px;
	}
	/*end of about*/

	/*start of gallery*/
	.products {
		height: 11vh;
		margin-top: 75px;
		padding: 20px 0px 20px 0px;
	}

	.products li {

		font-size: 20px;
		padding: 4px;
	}

	.footer-contact {
		position: relative;
	}

/*	.footer-about {
		position: relative;
	}*/


}


/*desktop style*/
@media only screen and (min-width: 961px) {
	

}